.root {
  box-sizing: border-box;
  text-decoration: none;
  width: 150px;
  height: 50px;
  padding: 15px 23px;
  block-size: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 13px;
  border-radius: 30px;
  border: none;
  background-color: #000000;
  color: white;
  &__counter {
    padding-left: 13px;
    display: flex;
    gap: 8px;
    border-left: 1px solid white;

  }
  &__counter::before {

    content: '';
    display: block;
    width: 16px;
    background-repeat: no-repeat;
    color: #ffffff;
    background-image: url(../../Images/cart.svg);
    background-size: contain;
  }
}